# Build / output
_site/
.sass-cache/
.jekyll-cache/

# System files
.DS_Store
Thumbs.db

# Node / npm
node_modules/
package-lock.json

# Ruby / Bundler
.bundle/
Gemfile.lock

# Logs / temporary
*.log

# Editor / IDE
.vscode/
.idea/
*.swp
